        @media screen and (min-width:994px) {
            body {
                display: flex;
                justify-content: space-evenly;
                justify-items: center;
                justify-content: center;
                height: 70vh;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            h2 {
                /* font-size: 2.5rem; */
                letter-spacing: .3px;
                margin-bottom: 0.7rem;
            }
            p {
                margin-bottom: 3rem;
            }
            section {
                position: relative;
            }
            .car-types {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                display: flex;
                width: 920px;
            }
            .car-types__card {
                /* font-size: .4rem; */
                font-weight: 400;
                display: flex;
                flex-direction: column;
                justify-items: center;
                width: 30vh;
                height: 100%;
            }
            .car-types__card__img {
                margin-top: 1rem;
            }
            .car-types__card>button {
                padding: .8rem 1.4rem;
                margin-bottom: 2.5rem;
                width: 80%;
                line-height: 25px;
                cursor: pointer;
                &:hover {
                    border: white solid 1px;
                    transition: 0.5s;
                    color: white!important;
                    background-color: transparent;
                    border-radius: 5rem;
                }
            }
            .car-types__card:first-child {
                border-radius: 0.5rem 0 0 0.5rem;
            }
            .car-types__card:last-child {
                border-radius: 0 0.5rem 0.5rem 0;
            }
            footer {
                position: relative;
                top: 82vh;
                margin-top: 2.2rem;
            }
        }